.headTable {
  background-color: var(--color-neutral-gray-medium);
}

.head {
  color: var(--color-neutral-white);
}

.content {
  border-bottom: solid 1px var(--color-neutral-gray-medium);
}

.containerBtns {
  display: flex;
  justify-content: end;
}

.containerResults {
  width: 100%;
  display: flex;
  justify-content: center;
}