.containerOne {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.cardOrder {
  width: 100%;
  border-radius: 8px;
}

.label {
  font-size: 18px;
}

.btnAction {
  display: flex;
  justify-content: end;
}

.btns{
  width: 100px;
  margin: 10px;
}

.containerInfo {
  display: flex;
  flex-direction: column;
}