<div nz-row style="margin: 10px;">
  <div nz-col nzSpan="24" >
    <nz-card nzTitle="Ventas semanales" [nzLoading]="loadingSales">
      <div nz-row nzGutter="16" >
        <div nz-col nzSpan="24" class="containerDate">
          <span> {{ sale.weekInitial | date: 'dd-MM-yyyy' }} - {{ sale.weekFinish | date: 'dd-MM-yyyy'}} </span>
        </div>
        <div nz-col nzSpan="24" *ngIf="sale.totalDailyWeek">
          <nz-statistic
          [nzValue]="( sale.totalDailyWeek| currency)!"
          [nzValueStyle]="{ color: '#3F8600' }"
          ></nz-statistic>
        </div>
        <div nz-col nzSpan="24" *ngIf="!sale.totalDailyWeek">
         <span>No se encontrarón ventas</span>
        </div>
      </div>
    </nz-card>
  </div>
</div>
