<div *ngIf="isVisible" class="menuBackground" (click)="hideMenu()"></div>
<div *ngIf="isVisible" class="menuContainerAnimIN centerContent" id="menuContainer">
  <div nz-row class="containerOptionsMenu">
    <div nz-col class="containerPhotoProfile">
      <img 
      width="100px"
      height="100px" 
      src="../../../../../assets/img/logoQfresa.png" 
      alt="ProfileImage">
    </div>
    <div nz-col class="containerInfouser">
      <span class="infoUser">{{ userName }}</span>
      <span class="infoUser"> {{ role ? role : 'Sin rol' }} </span>
    </div>
    <div 
    nz-col nzSpan="24">
      <canvas class="customCanvas"></canvas>
    </div>
    <div nz-col class="containerOptionsMenu">
      <ul 
      nz-menu 
      nzMode="inline">
        <li
        nz-menu-item
        nzSelected
        routerLinkActive="active"
        [nzMatchRouter]="true"
        [routerLink]="['/', 'intranet', 'home']"
        (click)="hideMenu()">
          <span nz-icon nzType="appstore"></span>
          <span>Inicio</span>
        </li>
        <li
        *ngIf="role === roles._ADMIN_"
        nz-menu-item
        nzSelected
        routerLinkActive="active"
        [nzMatchRouter]="true"
        [routerLink]="['/', 'intranet', 'products']"
        (click)="hideMenu()"
        >
          <span nz-icon nzType="coffee" nzTheme="outline"></span>
          <span>Productos</span>
        </li>
        <li
        *ngIf="role === roles._ADMIN_"
        nz-menu-item
        nzSelected
        routerLinkActive="active"
        [nzMatchRouter]="true"
        [routerLink]="['/', 'intranet', 'combos']"
        (click)="hideMenu()"
        >
          <span nz-icon nzType="group" nzTheme="outline"></span>
          <span>Combos</span>
        </li>
        <li
        *ngIf="role === roles._ADMIN_"
        nz-menu-item
        nzSelected
        routerLinkActive="active"
        [nzMatchRouter]="true"
        [routerLink]="['/', 'intranet', 'users']"
        (click)="hideMenu()"
        >
          <span nz-icon nzType="usergroup-add" nzTheme="outline"></span>
          <span >Usuarios</span>
        </li>
        <li
        *ngIf="role === roles._ADMIN_"
        nz-menu-item
        nzSelected
        routerLinkActive="active"
        [nzMatchRouter]="true"
        [routerLink]="['/', 'intranet', 'toppings']"
        (click)="hideMenu()"
        >
          <span nz-icon nzType="shop" nzTheme="outline"></span>
          <span>Toppings</span>
        </li>
        <li
        *ngIf="role === roles._ADMIN_"
        nz-menu-item
        nzSelected
        routerLinkActive="active"
        [nzMatchRouter]="true"
        [routerLink]="['/', 'intranet', 'historic-sale']"
        (click)="hideMenu()"
        >
          <span nz-icon nzType="mail"></span>
          <span>Historico</span>
        </li>
        <li
        *ngIf="role === roles._ADMIN_"
        nz-menu-item
        nzSelected
        routerLinkActive="active"
        [nzMatchRouter]="true"
        [routerLink]="['/', 'intranet', 'sale']"
        (click)="hideMenu()"
        >
          <span nz-icon nzType="dollar"></span>
          <span>Ventas</span>
        </li>
        <li
        nz-menu-item
        nzSelected
        routerLinkActive="active"
        [nzMatchRouter]="true"
        [routerLink]="['/', 'intranet', 'orders']"
        (click)="hideMenu()"
        >
          <span nz-icon nzType="dollar"></span>
          <span>Pedidos</span>
        </li>
      </ul>
      <div nz-col nzSpan="24">
      <canvas class="customCanvas"></canvas>
    </div>
      <div nz-row class="btnLogout">
        <div nz-col>
          <button nz-button (click)="logout()">
            Cerrar sesión
            <span nz-icon nzType="logout" nzTheme="outline"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>