<div nz-row style="margin: 10px;">
  <div nz-col nzSpan="24" >
    <nz-card nzTitle="Ventas mensuales" [nzLoading]="loadingSales">
      <div nz-row nzGutter="16" >
        <div nz-col nzSpan="24" class="containerDate">
          <span> {{ sale.month | date }} </span>
        </div>
        <div nz-col nzSpan="24" *ngIf="sale.totalDailyMonth">
          <nz-statistic
          [nzValue]="( sale.totalDailyMonth | currency)!"
          [nzValueStyle]="{ color: '#3F8600' }"
          ></nz-statistic>
        </div>
        <div nz-col nzSpan="24" *ngIf="!sale.totalDailyMonth">
          <span>No se encontrarón ventas</span>
        </div>
      </div>
    </nz-card>
  </div>
</div>
