<nz-modal
  [nzVisible]="isVisible"
  [nzTitle]="titleModal"
  nzCentered
  nzClosable="false">
  <ng-container *nzModalContent="">
    <div nz-row>
      <div nz-col nzSpan="24">
        <h2>Usuario: {{ ordersCompleted.idUser }}</h2>
      </div>
      <nz-card class="cardInfo" nz-col nzSpan="24">
        <div nz-row nzGutter="12">
          <div nz-col nzSpan="12">
            <h3>Número de orden: <span>{{ ordersCompleted.idOrder }}</span></h3>
            <h3>Fecha Creación: <span>{{ ordersCompleted.creationDate }}</span></h3>
            <h3>Total: <span>{{ ordersCompleted.total | currency }}</span></h3>
          </div>
          <div nz-col nzSpan="10">
            <h3>Estado: <span>{{ ordersCompleted.status }}</span></h3>
            <h3>Descuento: <span>{{ ordersCompleted.discount || 'Sin descuento' }}</span></h3>
          </div>
          <div nz-col nzSpan="24">
            <nz-collapse nzAccordion>
              <nz-collapse-panel *ngFor="let detail of detailOrder" [nzHeader]="detail.product.name" class="headerCollapse">
                <div nz-row>
                  <div nz-col nzSpan="24" class="titles">
                    Nombre del cliente
                  </div>
                  <div nz-col nzSpan="24">
                    {{ detail.nameCustomer }}
                  </div>
                  <div nz-col nzSpan="24" class="titles">
                    Observación
                  </div>
                  <div nz-col nzSpan="24">
                    {{ detail.observation ?  detail.observation : 'Sin observación' }}
                  </div>
                  <div nz-col nzSpan="24" class="titles">
                    Ingredientes, toppings y adicionales
                  </div>
                  <div nz-col nzSpan="24" *ngFor="let toping of detail.detailAdditionals">
                    {{ toping.ingredient.ingredientType.name }} {{ toping.ingredient.name }}
                  </div>
                </div>
              </nz-collapse-panel>
            </nz-collapse>
          </div>
        </div>
      </nz-card>
    </div>
  </ng-container>
  <ng-container *nzModalFooter>
    <div nz-row class="centerContent">
      <button
        class="btnOk"
        nz-button
        nzType="primary"
        (click)="hideModalEmit()">
        OK
      </button>
    </div>
  </ng-container>
</nz-modal>

<ng-template #titleModal>
  <span style="font-size: 24px; color: white;">
    Información de pedido completado # {{ ordersCompleted.idOrder }}
  </span>
</ng-template>
